In [1]:
import json
import geojson
from pprint import pprint
import pandas as pd

In [2]:
worldgeojson = {
    "type": "FeatureCollection",
    "features": []
}

In [3]:
happiness = pd.read_csv("map_2019.csv")
happiness.head(25)

,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,Switzerland,6,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,Sweden,7,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,New Zealand,8,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,Canada,9,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,Austria,10,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,Australia,11,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,Costa Rica,12,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,Israel,13,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,Luxembourg,14,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,United Kingdom,15,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,Ireland,16,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,Germany,17,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,Belgium,18,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,United States of America,19,6.892,1.433,1.457,0.874,0.454,0.280,0.128
19,Czech Republic,20,6.852,1.269,1.487,0.920,0.457,0.046,0.036
20,United Arab Emirates,21,6.825,1.503,1.310,0.825,0.598,0.262,0.182
21,Malta,22,6.726,1.300,1.520,0.999,0.564,0.375,0.151
22,Mexico,23,6.595,1.070,1.323,0.861,0.433,0.074,0.073
23,France,24,6.592,1.324,1.472,1.045,0.436,0.111,0.183
24,Taiwan,25,6.446,1.368,1.430,0.914,0.351,0.242,0.097

In [4]:
with open('countries.geo.json') as f:
    features = json.load(f)["features"]
    for foo in features:
        try:
            name = foo['properties']["name"]
            happydata = happiness.loc[happiness["country"] == name, :]
            happydict = happydata.to_dict(orient = 'records')[0]
            foo["properties"] = happydict
            worldgeojson["features"].append(foo)
        except:
            print(f'An error occured for name #: {name}')

An error occured for name #: Angola
An error occured for name #: Antarctica
An error occured for name #: French Southern and Antarctic Lands
An error occured for name #: The Bahamas
An error occured for name #: Belize
An error occured for name #: Bermuda
An error occured for name #: Brunei
An error occured for name #: Democratic Republic of the Congo
An error occured for name #: Republic of the Congo
An error occured for name #: Cuba
An error occured for name #: Djibouti
An error occured for name #: Eritrea
An error occured for name #: Fiji
An error occured for name #: Falkland Islands
An error occured for name #: Guinea Bissau
An error occured for name #: Equatorial Guinea
An error occured for name #: Greenland
An error occured for name #: French Guiana
An error occured for name #: Guyana
An error occured for name #: Macedonia
An error occured for name #: New Caledonia
An error occured for name #: Oman
An error occured for name #: Papua New Guinea
An error occured for name #: Puerto Rico
An error occured for name #: North Korea
An error occured for name #: Western Sahara
An error occured for name #: Sudan
An error occured for name #: Solomon Islands
An error occured for name #: Somaliland
An error occured for name #: Republic of Serbia
An error occured for name #: Suriname
An error occured for name #: East Timor
An error occured for name #: Trinidad and Tobago
An error occured for name #: United Republic of Tanzania
An error occured for name #: Vanuatu
An error occured for name #: West Bank

In [5]:
# with open('countries.geo.json', 'w') as fp:
#     geojson.dump(worldgeojson, fp)

In [6]:
print(foo)

{'type': 'Feature', 'id': 'ZWE', 'properties': {'country': 'Zimbabwe', 'happiness_rank': 146, 'happiness_score': 3.6630000000000003, 'gdp_per_capita': 0.366, 'social_support': 1.114, 'life_expectancy': 0.433, 'freedom': 0.361, 'generosity': 0.151, 'government_corr': 0.08900000000000001}, 'geometry': {'type': 'Polygon', 'coordinates': [[[31.191409, -22.25151], [30.659865, -22.151567], [30.322883, -22.271612], [29.839037, -22.102216], [29.432188, -22.091313], [28.794656, -21.639454], [28.02137, -21.485975], [27.727228, -20.851802], [27.724747, -20.499059], [27.296505, -20.39152], [26.164791, -19.293086], [25.850391, -18.714413], [25.649163, -18.536026], [25.264226, -17.73654], [26.381935, -17.846042], [26.706773, -17.961229], [27.044427, -17.938026], [27.598243, -17.290831], [28.467906, -16.4684], [28.825869, -16.389749], [28.947463, -16.043051], [29.516834, -15.644678], [30.274256, -15.507787], [30.338955, -15.880839], [31.173064, -15.860944], [31.636498, -16.07199], [31.852041, -16.319417], [32.328239, -16.392074], [32.847639, -16.713398], [32.849861, -17.979057], [32.654886, -18.67209], [32.611994, -19.419383], [32.772708, -19.715592], [32.659743, -20.30429], [32.508693, -20.395292], [32.244988, -21.116489], [31.191409, -22.25151]]]}}

In [7]:
with open('countries.geo.json', 'w') as fp:
    geojson.dump(worldgeojson, fp)